- const { serverURL, visitor, option } = theme.waline

script.
  function loadWaline () {
    function initWaline () {
      const waline = new Waline(Object.assign({
        el: '#waline-wrap',
        serverURL: '!{serverURL}',
        path: location.pathname,
        visitor: !{visitor},
        avatar: 'robohash',
        emoji: [
          'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/bilibili',
          'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/tw-emoji',
          'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/weibo',
          'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/qq',
          'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/tieba',
          'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/alus',
          'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/tw-symbol',
          'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/tw-flag',
          'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/tw'
        ],
        dark: 'html[data-theme="dark"]'
      }, !{JSON.stringify(option)}))
    }

    if (typeof Waline === 'function') initWaline()
    else getScript('!{url_for(theme.CDN.waline)}').then(initWaline)
  }

  if ('!{theme.comments.use[0]}' === 'Waline' || !!{theme.comments.lazyload}) {
    if (!{theme.comments.lazyload}) btf.loadComment(document.getElementById('waline-wrap'),loadWaline)
    else setTimeout(loadWaline, 0)
  } else {
    function loadOtherComment () {
      loadWaline()
    }
  }
  

